html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  background-color: cornflowerblue !important;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #b34343;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  cursor: pointer;
  /* margin-left: 75px; */
}

#guessField {
  color: #1d2030;
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  outline: none;

  /* margin-left: 50px; */
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #1e59a7;
  border-radius: 5px;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  height: 600px;
  background-color: #222d4e;
  color: #fff;
  font-size: 25px;
  margin: 3rem auto;
  border-radius: 20px;
}

h1 {
  background-color: #1d1d29;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p {
  font-size: 16px;
  text-align: center;
}
