* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(29, 27, 36);
  color: aliceblue;
}

.container {
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 25px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}
nav ul li:hover {
  color: bisque;
}
nav button {
  /* border: none; */
  outline: none;
  padding: 10px 20px;
  background-color: rgb(16, 161, 161);
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.hero {
  text-align: center;
}
.hero h2 {
  font-size: 48px;
  color: chocolate;

  margin-top: 30px;
}

.hero p {
  font-size: 18px;
}

/* Basic button styling */
.hero button {
  /* Green background */
  border: 2px solid #4caf50; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 20px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Add a hover effect */
.hero button:hover {
  background-color: #45a049; /* Darker green */
}

/* Add a focus effect */
.hero button:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 10px #719ece; /* Add a blue shadow */
}
.box {
  padding: 100px;
  background-color: chocolate;
  width: 100px;

  margin: 20px auto;
  border-radius: 10px;
}

/* General form styling */
.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Form example div styling */
.form-example {
  margin-bottom: 15px;
}

/* Label styling */
.form-example label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Input field styling */
.form-example input[type="text"],
.form-example input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Submit button styling */
.form-example input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Submit button hover effect */
.form-example input[type="submit"]:hover {
  background-color: #45a049;
}

#lang {
  padding: 10px;
  background-color: #45a049;
}
