* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: aliceblue;
}

body {
  background-color: rgb(29, 27, 36);
}

.container {
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 25px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}
nav ul li:hover {
  color: bisque;
}
nav button {
  /* border: none; */
  outline: none;
  padding: 10px 20px;
  background-color: rgb(16, 161, 161);
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.main {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: aquamarine;
  color: brown;
}

img {
  width: 400px;
  border-radius: 60px;
  display: block;
  margin: 10px;
}

#bg {
  background-color: rgb(214, 196, 30);
  padding: 50px;
}

#bg h4 {
  color: sienna;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

form {
  margin: 50px;
  background-color: slategrey;
  padding: 50px;
}

#forBtn {
  padding: 10px 20px;
  border-radius: 5px;
  outline: auto;
  background-color: royalblue;
  color: white;
}
